<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samhk.ynashk.mapper.MenuDao">
	<resultMap type="MenuVo" id="MenuMap">
		<result property="menuCode" column="MENU_CODE"/>
		<result property="menuName" column="MENU_NAME"/>
		<result property="parentMenuCode" column="PARENT_MENU_CODE"/>
		<result property="accessible_ind" column="ACCESSIBLE_IND"/>
		<result property="displayOrder" column="DISPLAY_ORDER"/>
		<result property="objectName" column="OBJECT_NAME"/>
	</resultMap>
	<resultMap type="FunctionControlVo" id="FunctionControlMap">
	   <result property="controlName" column="CONTROL_NAME"/>
	   <result property="functionCode" column="FUNCTION_CODE"/>
	   <result property="controlCode" column="CONTROL_CODE"/>
	   <result property="checked" column="CHECKED"/>
	</resultMap>
	
	<select id="getMenu" parameterType="SystemUserVo" resultMap="MenuMap">
		  SELECT 
		    SF.MENU_CODE,
		    SM.MENU_NAME,
		    SM.PARENT_MENU_CODE,
		    SF.OBJECT_NAME,
		    SM.DISPLAY_ORDER
		  FROM
		    SYS_FUNCTION SF,
		    SYS_MENU SM,
		    SYS_FUNCTION_PRIVILEGE SFP
		  WHERE
		    SF.MENU_CODE = SM.MENU_CODE
		  AND SF.FUNCTION_CODE = SFP.FUNCTION_CODE
		  AND LOWER(SFP.ROLE_CODE) = LOWER(#{roleCode,jdbcType=VARCHAR})
		  AND SFP.CONTROL_CODE = 'READ'
		  AND SFP.ACCESSIBLE_IND = 'Y'
		  AND SF.DISPLAY_ORDER = 1
		  UNION
		  SELECT
		    MENU_CODE,
		    MENU_NAME,
		    PARENT_MENU_CODE,
		    NULL,
		    DISPLAY_ORDER
		  FROM
		    SYS_MENU
		  WHERE
		    MENU_CODE IN(
		      SELECT DISTINCT SM.PARENT_MENU_CODE
		      FROM 
			      SYS_FUNCTION SF,
			      SYS_MENU SM,
			      SYS_FUNCTION_PRIVILEGE SFP
		      WHERE
		      	  SF.MENU_CODE = SM.MENU_CODE
		          AND SF.FUNCTION_CODE = SFP.FUNCTION_CODE
		          AND LOWER(SFP.ROLE_CODE) = LOWER(#{roleCode,jdbcType=VARCHAR})
			      AND SFP.CONTROL_CODE = 'READ'
			      AND SFP.ACCESSIBLE_IND = 'Y'
			      AND SM.PARENT_MENU_CODE IS NOT NULL
			      AND SF.DISPLAY_ORDER = 1
		      UNION
		      	  SELECT DISTINCT PARENT_MENU_CODE
		          FROM 
		     		 SYS_MENU
		     	  WHERE
		      		 MENU_CODE IN(
		      			 SELECT DISTINCT SM.PARENT_MENU_CODE
		      			 FROM 
					        SYS_FUNCTION SF,
					        SYS_MENU SM,
					        SYS_FUNCTION_PRIVILEGE SFP
		      			 WHERE
		        			SF.MENU_CODE = SM.MENU_CODE
					        AND SF.FUNCTION_CODE = SFP.FUNCTION_CODE
					        AND LOWER(SFP.ROLE_CODE) = LOWER(#{roleCode,jdbcType=VARCHAR})
					        AND SFP.CONTROL_CODE = 'READ'
					        AND SFP.ACCESSIBLE_IND = 'Y'
					        AND SM.PARENT_MENU_CODE IS NOT NULL
					        AND SF.DISPLAY_ORDER = 1
		      )
		  )
    ORDER BY
    DISPLAY_ORDER
	</select>

    <select id="selectSecondMenu" resultMap="MenuMap">
        SELECT SM.*,SYSM.DISPLAY_ORDER AS DISO FROM SYS_MENU SM 
			LEFT JOIN SYS_MENU SYSM ON SYSM.MENU_CODE = SM.PARENT_MENU_CODE
			WHERE SM.PARENT_MENU_CODE IN ( SELECT MENU_CODE FROM SYS_MENU WHERE PARENT_MENU_CODE IS NULL)
			ORDER BY DISO,SM.DISPLAY_ORDER
    </select>
    
    <select id="selectThreeMenu" resultMap="MenuMap" parameterType="java.lang.String">
			SELECT SM.* FROM SYS_MENU SM 
				WHERE SM.PARENT_MENU_CODE  = #{menuCode,jdbcType=VARCHAR}
			ORDER BY SM.DISPLAY_ORDER
    </select>
    
    <select id="getFunctionControlByMenuCode" parameterType="java.lang.String" resultMap="FunctionControlMap">
      SELECT SFC.CONTROL_NAME,SFC.FUNCTION_CODE,SFC.CONTROL_CODE,
		    (SELECT
		       CASE WHEN COUNT(SFP.FUNCTION_CODE)>0 THEN 'Y'  ELSE 'N' END AS CHECKED
		       FROM SYS_FUNCTION_PRIVILEGE SFP WHERE SFP.FUNCTION_CODE = SFC.FUNCTION_CODE AND SFP.CONTROL_CODE = SFC.CONTROL_CODE
		     ) AS CHECKED
			FROM SYS_MENU SM
			LEFT JOIN SYS_FUNCTION SF ON SF.MENU_CODE = SM.MENU_CODE
			LEFT JOIN SYS_FUNCTION_CONTROL SFC ON SFC.FUNCTION_CODE = SF.FUNCTION_CODE
			WHERE SM.MENU_CODE =  #{menuCode,jdbcType=VARCHAR}
  </select>
  <select id="selectSonMenu" resultMap="MenuMap" parameterType="menuVo">
        SELECT SM.*,SYSM.DISPLAY_ORDER AS DISO FROM SYS_MENU SM 
			LEFT JOIN SYS_MENU SYSM ON SYSM.MENU_CODE = SM.PARENT_MENU_CODE
			WHERE SM.PARENT_MENU_CODE=#{parentMenuCode,jdbcType=VARCHAR}
			ORDER BY DISO,SM.DISPLAY_ORDER
    </select>
</mapper>